html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.circle {
    height: 100px;
    width: 100px;
    background-color: #ffedb6cc;
    border-radius: 50%;
    display: inline-block;
  }
  .banner{
    background-color: #767d84;
    height: 23rem;
    border-top-left-radius: 6rem 50px;
    margin-top: 6rem!important;

    border-top-right-radius: 6rem 50px;}
.pts{
    padding-top: 3rem !important;
}
.cp{
    color: white;
    padding-left: 0.5rem;
}.my {
    background-color: #767d84;
    border-color: antiquewhite;
    color: antiquewhite;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 10px;
    border: 1px solid antiquewhite;
}
.input{
    line-height: normal!important;
    color: antiquewhite;
}